/*
* Create a welcome to Sai's research heading
* A line
* Model 28 - Ensemble Model for scenery classification
* Embed youtube link right below that, and then on the side, embed the pdf of the paper written
*/

/* 1) load your pixel font for the green section titles */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


.research {
    padding-left: 2rem;
    animation: fadeIn 1s ease-out forwards;
}

.research-1 {
    color: antiquewhite;
    font-family: 'Jockey One', sans-serif;
    font-stretch: normal;
    text-decoration: underline;
}

.heading {
    color: #4FA031;
    font-family: 'Jersey 10', sans-serif;
    color: #33AD3B;
    font-size: clamp(2rem, 5vw, 3rem);
    letter-spacing: 1;
    font-weight: 300;
}

.line {
  width: 100%;
  height: 2px;
  background: #a0e687;
  color: #a0e687;
  margin: 1rem 0 2rem 0;
}

.research-section {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 1.5rem;
  color: antiquewhite;
    font-family: 'Jockey One', sans-serif;
    font-stretch: normal;
}

.pdf-viewer {
  flex: 1;
  max-width: 40%;
  height: 44.5rem;
  border-radius: 8px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 50%;
  font-size: 1.1rem;
}

.pdf-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.video-placeholder {
  /* padding-top: 2rem;   */
  width: 100%;
  max-width: 40rem;
  height: 30rem;
  background: none;
  border: none;
}