@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.research {
  padding-left: 2rem;
  animation: fadeIn 1s ease-out forwards;
}

.research-1 {
  color: antiquewhite;
  font-family: 'Jockey One', sans-serif;
  font-stretch: normal;
  text-decoration: underline;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.heading {
  color: #33AD3B;
  font-family: 'Jersey 10', sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  letter-spacing: 1;
  font-weight: 300;
}

.research-section {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 1.5rem;
  color: antiquewhite;
  font-family: 'Jockey One', sans-serif;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 50%;
  font-size: 1.1rem;
}

.video-placeholder {
  width: 100%;
  max-width: 40rem;
  height: 30rem;
  background: none;
  border: none;
}

.pdf-viewer {
  flex: 1;
  max-width: 40%;
  height: 44.5rem;
  border-radius: 8px;
}

.pdf-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.download-pdf {
  display: none !important;
}

/* MOBILE VERSION */
@media (max-width: 768px) {
  .research-section {
    flex-direction: column;
    gap: 2rem;
  }

  .left-column {
    max-width: 100%;
    font-size: 1rem;
    gap: 2rem;
  }

  .video-placeholder {
    max-width: 100%;
    height: 18rem;
  }

  .pdf-viewer {
    display: none;
  }

  .download-pdf {
    display: flex !important;
    }
}