.App {
  /* make your container fill the screen... */
  width: 100vw;
  height: 100vh;

  /* ...and hide any children outside its bounds */
  overflow: hidden;

  /* ensure it’s the clipping context */
  position: relative;
}

html {
  font-size: 16px;
}


body{
  background-color: #000000;
  color:antiquewhite
}

.Text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers child elements horizontally */
  margin-top: 30vh;
}

.intro {
  text-align: center;
  font-family: 'inria serif', sans-serif;
  color: #B2FFBB;
  /* RESPONSIVE: between 1rem and 2rem, scaling on 4vw */
  font-size: clamp(1rem, 4vw, 2rem);
}

.name {
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #33AD3B;

  /* RESPONSIVE: between 2rem and 5rem, scaling on 8vw */
  font-size: clamp(2rem, 8vw, 5rem);
}

.description {
  text-align: center;
  font-family: 'inria serif', sans-serif;
  color: #9CC298;
  /* RESPONSIVE: between .9rem and 1.5rem, scaling on 3vw */
  font-size: clamp(.9rem, 3vw, 1.5rem);

  /* keep your text centered but limit its width */
  width: 80%;
  max-width: 80vw;
  margin: 0 auto;
  word-break: break-word;
}

/* App.css */
.description .anim-clip {
  /* hide anything that peeks out of this box */
  overflow: hidden;

  /* make sure the box spans the full width of its parent */
  width: 100%;
}

.intro, .name, .description {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  text-align: center; /* Centers text */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none;
  }
}